<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio de Produtos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Portfólio de produtos da metalúrgica</h1>
    <div class="container" id="produtos"></div>

    <!-- Chamada da modal para exibir a imagem grande -->
    <div id="modal" class="modal">
        <span id="close" class="close">&times;</span>
        <img id="modalImage" class="modal-content" />
    </div>

    <!-- Botão do WhatsApp -->
    <a href="https://wa.me/49998023800" class="whatsapp-button" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp">
    </a>

    <script src="/js/site.js"></script>
</body>
</html>
